@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;}
.lx{
	width:1500px;
	margin:0 auto;}
.nav{
	width:1470px;
	height:100px;
	margin:0 15px;
	background-color:rgb(0,104,77);
	position:relative;
    box-shadow: 0 0 12px 0 #000;}
.nav .logo img{
	margin-left: 200px;
	margin-top:14px;
	float:left;}
.nav ul{
	display:inline-block;
	width:740px;
	height:100px;
	float:left;}
.nav ul li{
	list-style:none;}
.nav ul li a{
	color:white;
	font-size:18px;
	text-align:center;
	line-height:100px;
	float:left;
	text-decoration:none;
	margin-left:51px;}
.nav ul li a:hover{
	font-weight:600;
	border-bottom:4px solid #FFFFFF;
	line-height:96px;}
.dianhua{
	width:150px;
	height: 60px;
	margin-top:25px;
	margin-right:135px;
	float:right;}
.dianhua span{
	font-size: 16px;
    color: #fff;}
.dianhua p{
	font-size: 20px;
    color: #fff;
    font-weight: 600;}
/*导航下方图片*/
.headpic{
	width:1670px;
	height:512px;
	margin:0px auto;}
.headpic img{
	width:1470px;
	height:512px;
	margin-left:15px;}
.banner{
	width:1477px;
	height:600px;
	margin:0px auto;}
.banner .xx{
	width:360px;
	height:500px;
	background:url(../img/lianxiwomen2.png) no-repeat;
	padding:70px 50px 0px;
	margin:70px 150px 0px;
	}
.banner .xx h3{
	font-size:24px;
	font-weight:500;
	margin-bottom:70px;}
.banner .xx h3 span{
	float:right;}
.banner .xx ul{
	width:400px;
	height:217px;
	
	}
.banner .xx ul li{
	list-style:none;
	margin-bottom:40px;}
.banner .xx ul li img{
	float:left;
	margin:0px 30px;}
.banner .xx ul li p{
	font-size:16px;
	font-weight:400;}
.banner .xx ul li span{
	font-weight:600;}
.banner .ly{
	width:740px;
	height:500px;
	float:right;
	margin-top:-570px;
	margin-right:127px;
	background:#F0F0F0;}
.banner .ly h1{
	font-size:38px;
	font-weight:600;
	margin:30px;
	text-align:center;}
.banner .ly p{
	font-size:14px;
	font-weight:400;
	text-align:center;}
.banner .ly form input{
	width:220px;
	height:40px;
	color: #666666;
	margin-top:20px;
	margin-left:270px;
	font-size:16px;}
.banner .ly form sub{
	width:220px;
	height:40px;
	margin-top:20px;
	margin-left:270px;
	font-size:16px;
	background:#00684d;
	color:white;}
/*底部*/
.footer{
	width:100%;
	height:414px;
	background:#000000;
	position:relative;}
.footer .box4{
	width:900px;
	height:250px;

	position:absolute;
	top:80px;
	left:20%;}
.foot_left h1{
	color: #CCCCCC;
	font-size:36px;
	font-weight:500;
	}
.foot_left ul li{
	list-style:none;
	width:330px;
	height:40px;}
.foot_left img{
	float:left;
	margin:10px 10px;}
.foot_left p{
	float:left;
	color:white;
	font-weight:500;
	font-size:14px;}
.foot_right{
	width:280px;
	height:102px;
	float:right;
	margin-right:20px;
	margin-top:-150px;}
.foot_right h5{
	color:white;
	font-weight:500;
	font-size:18px;
	padding:10px;}
.foot_right ul li{
	list-style:none;
	width:78px;
	height:40px;
	display:inline-block;}
.foot_right ul li a{
	color:white;
	float:left;
	margin:5px;
	text-decoration:none;}

.hr{
	width:1500px;
	height:100px;
	color:rgba(153,153,153,0.8);
	border-top:1px solid white;
	position:absolute;
	bottom:0;
	text-align:center;
	line-height:100px;}





